---
import Layout from '@/layouts/layout.astro';
import Top from '@/components/top.astro';
import { Content } from '@/pages/privacy-policy/_content.md';
---

<Layout title='Privacy Policy' description='Forest Designs privacy policy for using our services.'>
  <Top title='Privacy Policy' description='Learn about how we collect, use, and protect your information' />
  <section class='bg-background py-16 sm:py-20'>
    <div class='container'>
      <div class='prose prose-blue dark:prose-invert mx-auto w-full max-w-none'>
        <Content />
      </div>
    </div>
  </section>
</Layout>
