---
import { Icon } from 'astro-icon/components';
---

<button
  id='theme-selector'
  aria-label='Toggle theme'
  class='text-muted-foreground hover:bg-accent hover:text-accent-foreground border-input inline-flex h-10 w-10 items-center justify-center rounded-md border bg-transparent transition-colors'
>
  <span class='sr-only'>Toggle light and dark mode</span>
  <Icon name='lucide:sun' class='h-5 w-5 scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90' />
  <Icon name='lucide:moon' class='absolute h-5 w-5 scale-0 rotate-90 transition-all dark:scale-100 dark:rotate-0' />
</button>

<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    const isDark = document.documentElement.classList.contains('dark');
    document.documentElement.classList[isDark ? 'remove' : 'add']('dark');
    localStorage.setItem('theme', isDark ? 'light' : 'dark');
  });
</script>
