---
import Breadcrumb from '@/components/breadcrumb.astro';

interface Props {
  title: string;
  description?: string;
  showBreadcrumb?: boolean;
}

const { title, description = '', showBreadcrumb = true } = Astro.props;
---

<section class='bg-forest relative flex bg-cover bg-center bg-no-repeat py-16 md:bg-fixed'>
  <div class='bg-background/80 absolute inset-0 size-full'></div>
  <div class='z-0 container space-y-4'>
    {showBreadcrumb && <Breadcrumb />}
    <div class='mx-auto max-w-2xl text-center'>
      <h1 class='text-foreground text-4xl font-bold tracking-tight sm:text-5xl'>{title}</h1>
      <p class='text-muted-foreground mt-4 text-lg'>{description}</p>
    </div>
  </div>
</section>
